
/* style.css customize */
/*<style>*/

h1,h2,h3,h4,h5,h6,a{
word-break: break-all;
}


.widget_recent_entries h3.widget-title,
 .author-bio h3,
.author-bio .author-name{
    display: none;
}

h1.entry-title {
    margin-top: 0px;
}
a:hover {
    color: #c1443c;
}
a {
    color: #666666;
}


span.btn.btn-fit-r.copied:hover,.widget-area .widget a:hover,.comments-link a:hover, .entry-meta a:hover {
    color: #c1443c;
}

.entry-content pre {
    padding-top: 0px;
    position: relative;    
}
.comment-content pre{
    padding-top: 0px;
}

#footer {
    position: relative;
}
/*</style>*/


/* nprogress */
/*<style>*/
#nprogress .bar{background-color: rgba(193, 68, 60,1); /*#c1443c;*/ /*rgba(4, 6, 6, 1);*/ /*#040606;*/ }
#nprogress .peg{background-color: rgba(193, 68, 60,1); /*#c1443c;*/ /*rgba(4, 6, 6, 1);*/ /*#040606;*/ }
#nprogress .bar {
  /*  background: #77b6ff;
    position: fixed;
    top: 0; left: 0; width: 100%; */
    opacity: 1;
  /* is-loading{opacity:1;} */
    -webkit-transition: opacity 0.4s linear 0.4s;
    transition: opacity 0.4s linear 0.4s;  
}

#nprogress .peg {
  /*background: #77b6ff;  
    position: fixed;
    top: 0; left: 0; width: 100%;*/
    height: 2px;
    box-shadow: 0 0 10px rgba(193, 68, 60,0.62);/*rgba(4, 6, 6, 0.62);*/ /*rgba(119,182,255,0.7);*/
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
}
/*</style>*/

/*clipboard*/
/*<style>*/
section.rel,
pre.rel {
    position: relative;
}
span.btn-fit-r {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    /*padding: 5px 8px;*/
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    /*border: 0px solid #e1e1e8;*/
    border-radius: 0 4px 0 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: initial;    
}    
/*</style>*/
